body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: opacity 0.5s ease;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.fade-out {
    opacity: 0;
}
